@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.content {
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    width: 75%;
    margin-top: 20px;
    align-content: center;

    font-family: 'Courier Prime', monospace;
    height: 300px;
}
.output{
    background-color: #FAF9F6;
    border-radius: 10px;
    padding: 20px;
    color: #171717;
    border: 2px ;
}

.header{
    text-align: center;
    font-family: 'Courier Prime', monospace;
    color: #FAF9F6;
}